.App {
  font-family: sans-serif;
  text-align: center;
  flex-shrink: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  padding: 10px;
  flex-wrap: nowrap;
}

.logo-container {
  flex-shrink: 0;
  width: 150px;
  height: 100%;
  display: flex;
  align-items: center;
  border-top-left-radius: 0.3cm;
  border-bottom-left-radius: 0.3cm;
  padding-left: 10px;
}

.logo {
  width: 100%;
  height: auto;
  
}

.title-container {
  margin-left: 20px;
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center; 
  background-color: #2b5b88;
  border-radius: 0.3cm;
  border-top: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 0 10px;
  min-width: 0; /* Allows the title container to shrink without overlapping */
}

.title {
  color: rgb(255, 255, 255);
  font-size: 30px;
  font-family: 'Courier New', Courier, monospace;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: auto;
  margin-right: auto;
}

.new-page-button{
  margin-left: auto;
  padding: 10px 10px;
  width: 180px;
  margin: 20px;
  font-size: 14px;
  border: black;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  background: white;
  color: #2b5b88;
  font-family: 'Courier New', Courier, monospace;
}

.new-page-button:hover {
  background-color: #f5ecec; 
  color: #2b5b88;
}